<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.modules.company.Company"/>
      <class name="com.extent.report.ExtentReportBaseClass"/>
      <class name="com.login.LoginScenarios"/>
      <class name="com.modules.company.CompanyCategory"/>
      <class name="com.modules.company.CompanyType"/>
      <class name="com.modules.AppPromotion"/>
      <class name="com.modules.ewp.EwpSuperType"/>
      <class name="com.modules.airtime.AirTimeBundleCategory"/>
      <class name="com.modules.ewp.EwpProfile"/>
      <class name="com.modules.airtime.AirTimeBundle"/>
      <class name="com.modules.ewp.EwpSubType"/>
      <class name="com.modules.BankTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
